.App{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App h1{
  text-align: center;
}
.App form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.App form div{
  display: flex;
}
.App form div input{
  width: 100%;
}
.App form label{
  display: flex;
  width: fit-content;
}
.App sub{
  display: block;
  color: red;
  text-align: center;
  margin-top: 12px;
}
.App main{
  text-align: center;
  width: 100%;
}
.ListOfMovies{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
  gap: 32px;
  padding: 0;
  justify-content: center;
  align-items: end;
}
.Movie{
  text-align: center;
}
.Movie h2{
  margin: 0;
}
.Movie img{
  border-radius: 6px;
}